# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Distribution / packaging
lambda/.Python
lambda/env/
lambda/build/
lambda/develop-eggs/
lambda/dist/
lambda/downloads/
lambda/eggs/
lambda/.eggs/
lambda/lib/
lambda/lib64/
lambda/parts/
lambda/sdist/
lambda/var/
lambda/*.egg-info/
lambda/.installed.cfg
lambda/*.egg
lambda/__pycache__
lambda/modules/__pycache__
lambda/.env

# Serverless directories
lambda/*.serverless

# batch
batch/evernote2csv/evernotes
batch/evernote2csv/_old
batch/evernote2csv/*.csv
batch/evernote2csv/*.txt