[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
migrate = "python3 manage.py migrate"
start = "python3 manage.py runserver"
